---
layout: nil
---
{% include custom_definitions.css %}

html {
    background: {{ page_background_color }};
}
a {
    color: {{ link_color }};
}
.page {
    font: 12px Verdana, Helvetica, sans-serif;
    line-height: 1.6em;
    margin: 0;
    position: absolute;
    left: 10%;
    top: 0px;
    overflow: auto;
    padding: 0px;
    background: {{ content_background_color }};
    color: {{ text_color }};
    width: 80%;
    max-width: 80%;
    max-width: 800px
}
.header, .footer {
    color: {{ title_color }};
    background: {{ title_background_color }};
    cursor: pointer;
    padding: 1em;
    padding-left: 2em;
    position: relative;
    top: 0px;
    left: 0px;
    border: 0px;
    margin: 0px;
}
.content h1 {
    display: none;
}
div.content {
    margin-left: 13em;
    border-left: 1px solid #003300;
    padding: 2em;
    padding-right: 3em;
}
ul#pagenav {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
div.pagenav {
    float: left;
    width: 12em;

    position: relative;
    top: 2em;
    left: 0px;

    margin: 0px;
    padding-left: 0em;
    padding-right: 0em;

}
#pagenav a {
    display: block;
    width: 11em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    border-top: 0.2em solid {{ title_background_color }};
    border-bottom: 0.2em solid {{ title_background_color }};
}
#pagenav a:link, #pagenav a:visited {
    color: {{ title_color }};
    background-color: {{ title_background_color }};
}
#pagenav a:hover, #pagenav a:active {
    color: {{ title_background_color }};
    background-color: {{ title_color }};
}
h2 {
    border-top: 4px solid #008800;
    padding-top: 0.5em;
}
h2, h3 {
    margin-top: 2em;
}
h4, h5 {
    margin-top: 1.25em;
}
h6 {
    margin-top: 1em;
}
hr {
    display: none;
}
.content pre {
/*    font-size: 13px;*/
    border: 1px solid gray;
    margin: 0.5em;
    padding: 0.5em 0.8em;
    overflow: auto;
    line-height: 1.5em;
    background: #fcf7bb;
    color: #444;
}

.content code {
    border: 1px solid gray;
    padding: 0 0.2em;
    background: #fcf7bb;
    color: #444;
}

.content pre code {
    border: 0px;
    padding: 0em;
}
#update_time {
    text-align: right;
    font-size: 0.8em;
}
